{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<main class="p-5">

    <div class="box">
        <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

        <div style="background: blue" class="display-1 p-5">
            <span>&#127895; 
                {{!--Платна іконка <i class="fa-duotone fa-ribbon fa-beat" style="--fa-primary-color: #ffde38; --fa-secondary-color: #045ffb; --fa-secondary-opacity: 1;"></i> --}}
            </span>
            <i class="fa-solid fa-ribbon fa-beat-fade display-1" style="color: #ffde38;"></i> 

        </div>

        <h2 style="color: rgb(61, 150, 1)">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

        <h3 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>

        <h4>Test sevral tags with one style</h4>

        <h5 id="user">Test sevral tags with one style</h5>

        <button type="button" class="btn btn-primary button">Купити</button>

        <p>
            Some text. <em>Some em</em> text.
        </p>

        <div>
            <div>
                <em>else em</em>
                <div>
                    <em>Some more em</em>
                </div>
            </div>
        </div>

        <div>
            <strong>strong</strong>
            <p>paragraph after strong</p>
            <h2>header h2</h2>
            <p> paragraph</p>
            <div>
                <p>before h2 some paragraph </p>
                <h2>one more h2</h2>
                <p> one more paragraph</p>
                <p> next paragrph</p>
            </div>
            <div>
                <strong>some strong</strong>
                <p>before h2 paragraph</p>
                <h2> h2 header</h2>
                <em> some em</em>
                <p>and now paragraph</p>
            </div>
        </div>
        <section>
            <p>останній приклад</p>
        </section>
    </div>

    <hr class="my-5">
    <div class="display-1 text-uppercase">
        <i class="fa-brands fa-html5" style="color: #2b00ff;"></i>
        <i class="fa-brands fa-css3-alt" style="color: #ff5900;"></i>
        CSS Lesson 2:
    </div>
    <hr class="my-5">

    <section>
        <div class="card card-dark pt-3 mb-4">
            <ul>
                <li class="item">item 1</li>
                <li class="item">item 2</li>
                <li class="item">item 3</li>
                <li class="item">item 4</li>
                <li class="item">item 5</li>
            </ul>
        </div>
        
        <div class="card card-dark pt-3 mb-4">
            <ul>
                <li class="item">item 1</li>
                <li class="item">item 2</li>
                <li class="item">item 3</li>
                <li class="item">item 4</li>
                <li class="item">item 5</li>
            </ul>
        </div>

        <div class="card card-dark pt-3 mb-4">
            <ul>
                <li class="item">item 1</li>
                <li class="item">item 2</li>
                <li class="item">item 3</li>
                <li class="item">item 4</li>
                <li class="item">item 5</li>
            </ul>
        </div>

        <div>
            <p class="item">
                Only child. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore iste officia, minima consequatur excepturi, natus laudantium sed qui perspiciatis quasi nostrum vel adipisci, veritatis deleniti nam necessitatibus modi soluta voluptatibus?
                Molestiae iste dolorum vel, animi, blanditiis odio eum cumque amet magnam dignissimos, itaque sapiente? Alias accusamus excepturi, illum magnam ipsum illo nesciunt ullam. Consequuntur ut maiores praesentium facere provident amet?
            </p>
        </div>

        <div class="card card-dark pt-3 mb-4">
           
            <div class="item">item 1</div>
            <p class="item">item 2</p>
            <article class="item">item 3</article>
            <div class="item">item 4</div>            
            <p class="item">item 5</p>
            <strong class="item">Test strong</strong>
            <article class="item">item 6</article>
          
        </div>

        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li class="item">item 3</li>
            <li></li>
            <li>item 5</li>
        </ul>

        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
            <li>item 5</li>
        </ul>

    </section>

</main>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}
