<main class='p-5'>
  <hr class='my-5' />
  <div class='display-1 text-uppercase'>
    <i
      class='fa-brands fa-html5'
      style='color: #2b00ff;'
    ></i>
    <i
      class='fa-brands fa-css3-alt'
      style='color: #ff5900;'
    ></i>
    CSS Lesson 8 (1 text visualisation):
  </div>
  <hr class='my-5' />

  <div class='card p-5'>
    <p class='hex'>
      Dark blue #HEX
    </p>
    <p class='rgb'>
      Orange rgb
    </p>
    <p class='rgba'>
      Orange rgba a=0.5
    </p>
    <p class='hsl'>
      Green HSL
    </p>
    <p class='hsla'>
      Green HSLA a=0.5
    </p>
  </div>

  <div class='card p-5 mt-2'>
    <p class='textfill'>
      Yellow webkit text fill color + blue stroke
    </p>
  </div>

  <div class='card p-5 mt-2'>
    <p class='wmh'>
      Writing mode horizontal-tb
    </p>
    <p class='vrl'>
      Writing mode vertical-rl
    </p>
    <p class='vlr'>
      Writing mode vertical-lr
    </p>
  </div>

  <div class='card p-5 mt-2'>
    <p class='tal'>
      Text align left
    </p>
    <p class='tar'>
      text align right
    </p>
    <p class='tac'>
      Text align center
    </p>
    <p class='tas'>
      Text align start with writing mode
    </p>
    <p class='tae'>
      Text align end with writing mode
    </p>
    <p class='taj'>
      Text align jusify full width container with additional
      spaces. (best seen when changing width)
    </p>
  </div>

  <div class='card p-5 mt-2'>
    <p class='ttu'>
      Uppercase
    </p>
    <p class='ttl'>
      LoWerCase
    </p>
    <p class='ttc'>
      capitalize first letters
    </p>
  </div>

  <div class='card p-5 mt-2'>
    {{! Shut down prettier to save tabs}}
    <pre class='tabs'>
      Letter spacing. Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Placeat illo maiores
      quae voluptatum, architecto aliquam temporibus laborum
      molestias beatae, sunt perspiciatis velit eius
      voluptatem libero, ad id. Aut, eum cupiditate!
      Asperiores unde, doloremque veniam magnam animi soluta
      quis laudantium similique iure amet dignissimos.
      Expedita enim dicta, illo esse praesentium dolorum,
      incidunt quibusdam sit repellendus, similique
      asperiores ullam nostrum nobis vitae!</pre>
  </div>

  <div class='card p-5 mt-2'>
    <p class='tdu'>
      text Decoration Line/UNDERLINE Type Color
    </p>
    <p class='tdo'>
      text decoration overline
    </p>
    <p class='tdlt'>
      Line-through
    </p>
    <p class='tdusg'>
      text decoration Line/Underline Type/SOLID color/GREEN
    </p>
    <p class='tdud'>
      Underline double red
    </p>
    <p class='tdod'>
      overline dotted
    </p>
    <p class='tdoda'>
      Overline dashed
    </p>
    <p class='tduw'>
      Underline wavy
    </p>
    <p class='tdltc'>
      Line STYLE Color
    </p>
  </div>

</main>