<main class='p-5'>
  <hr class='my-5' />
  <div class='display-1 text-uppercase'>
    <i
      class='fa-brands fa-html5'
      style='color: #2b00ff;'
    ></i>
    <i
      class='fa-brands fa-css3-alt'
      style='color: #ff5900;'
    ></i>
    CSS Lesson 8 (1 text visualisation):
  </div>
  <hr class='my-5' />

  <div class='card p-5'>
    <p class='hex'>
      Dark blue #HEX
    </p>
    <p class='rgb'>
      Orange rgb
    </p>
    <p class='rgba'>
      Orange rgba a=0.5
    </p>
    <p class='hsl'>
      Green HSL
    </p>
    <p class='hsla'>
      Green HSLA a=0.5
    </p>
  </div>

  <div class='card p-5 mt-2'>
    <p class='textfill'>
      Yellow webkit text fill color + blue stroke
    </p>
  </div>

  <div class='card p-5 mt-2'>
    <p class='wmh'>
      Writing mode horizontal-tb
    </p>
    <p class='vrl'>
      Writing mode vertical-rl
    </p>
    <p class='vlr'>
      Writing mode vertical-lr
    </p>
  </div>

  <div class='card p-5 mt-2'>
    <p class='tal'>
      Text align left
    </p>
    <p class='tar'>
      text align right
    </p>
    <p class='tac'>
      Text align center
    </p>
    <p class='tas'>
      Text align start with writing mode
    </p>
    <p class='tae'>
      Text align end with writing mode
    </p>
    <p class='taj'>
      Text align jusify full width container with additional
      spaces. (best seen when changing width)
    </p>
  </div>

  <div class='card p-5 mt-2'>
    <p class='ttu'>
      Uppercase
    </p>
    <p class='ttl'>
      LoWerCase
    </p>
    <p class='ttc'>
      capitalize first letters
    </p>
  </div>

  <div class='card p-5 mt-2'>
    {{! Shut down prettier to save tabs}}
    <pre class='tabs'>
      Letter spacing. Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Placeat illo maiores
      quae voluptatum, architecto aliquam temporibus laborum
      molestias beatae, sunt perspiciatis velit eius
      voluptatem libero, ad id. Aut, eum cupiditate!
      Asperiores unde, doloremque veniam magnam animi soluta
      quis laudantium similique iure amet dignissimos.
      Expedita enim dicta, illo esse praesentium dolorum,
      incidunt quibusdam sit repellendus, similique
      asperiores ullam nostrum nobis vitae!</pre>
  </div>

  <div class='card p-5 mt-2'>
    <p class='tdu'>
      text Decoration Line/UNDERLINE Type Color
    </p>
    <p class='tdo'>
      text decoration overline
    </p>
    <p class='tdlt'>
      Line-through
    </p>
    <p class='tdusg'>
      text decoration Line/Underline Type/SOLID color/GREEN
    </p>
    <p class='tdud'>
      Underline double red
    </p>
    <p class='tdod'>
      overline dotted
    </p>
    <p class='tdoda'>
      Overline dashed
    </p>
    <p class='tduw'>
      Underline wavy
    </p>
    <p class='tdltc'>
      Line STYLE Color
    </p>
  </div>

  <hr class='my-5' />
  <div class='display-1 text-uppercase'>
    <i
      class='fa-brands fa-html5'
      style='color: #2b00ff;'
    ></i>
    <i
      class='fa-brands fa-css3-alt'
      style='color: #ff5900;'
    ></i>
    CSS Lesson 9 (2 fonts visualisation):
  </div>
  <hr class='my-5' />

  <section class='ninelesson'>
    <div class='card p-5 mt-2'>
      <p class='ninep mb-0'>
        Lorem font-size 18px ipsum, dolor sit amet
        consectetur adipisicing elit.
        <span class='xxs'>xx-small</span>,
        <span class='xs'>x-small</span>
        <span class='sm'>small</span>
        <span class='sml'>smaller</span>
        <span class='med'>medium</span>
        <span class='lg'>large</span><span
          class='sml'
        >smaller</span>
        <span class='lge'>lagerer</span>
        <span class='xl'>x-larg</span>
        <span class='xxl'>xx-large</span>
        consequuntur similique nam repudiandae a sunt.
      </p>
    </div>

    <div class='card p-5 mt-2'>
      <p class='ninew mb-0'>
        Lorem ipsum dolor sit amet c
        <span class='fwlr'>lighther</span>
        <span class='reg'>normal / 400</span>
        <span class='fwbdr'>bolder ???</span>
        <span class='fwb'>bold / 700</span>
        onsectetur adipisicing elit.
      </p>
    </div>

    <div class='card p-5 mt-2'>
      <div class='nineff mb-0'>
        Lorem ipsum dolor sit amet c
        <div class='ffs'>Serif font family</div>
        <div class='ffss'>Sans-serif font family</div>
        <div class='ffm'>Monospace font family</div>
        <div class='ffc'>Cursive font family</div>
        <div class='fff'>Fantasy font family</div>
        onsectetur adipisicing elit.
      </div>
    </div>

    <div class='card p-5 mt-2'>
      <div class='ninefs mb-0'>
        Lorem ipsum dolor sit amet c
        <div class='fsn'>Normal font style</div>
        <div class='fsi'>Italic font style </div>
        <div class='fso'>Oblique font style</div>
        onsectetur adipisicing elit.
      </div>
    </div>

    <div class='card p-5 mt-2'>
      <div class='nineload'>
        <h3>Font display</h3>
        {{! h1 { font-display: xxx} }}
        <div>
          <span class='bold'>auto</span>
          За замовчуванням браузер використовує свою
          стратегію
        </div>
        <div>
          <span class='bold'>block</span>
          Вказує ненадовго приховати текст, доки шрифт не
          буде повністю завантажено
        </div>
        <div>
          <span class='bold'>swap</span>
          Браузер повинен замінити на більш схожий шрифт до
          того моменту, поки заданий шрифт не буде
          завантажений.
        </div>
        <div>
          <span class='bold'>fallback</span>
          Браузер приховає текст приблизно на 100 мс і, якщо
          шрифт ще не завантажено, використає резервний
          шрифт, а якщо завантажився, то він зміниться
          протягом 3 с
        </div>
        <div>
          <span class='bold'>optional</span>
          Браузер може відкласти завантаження шрифту до того
          моменту, поки сторінка не буде повністю
          завантажена, не застосовуючи заміну жодного шрифту
        </div>
      </div>
    </div>

    <div class='card p-5 mt-2'>
      <div class='ninefontfamily mb-0'>
        <div>
          Ще не вмерла України ні слава, ні воля,
          <br />
          Ще нам, браття-українці, усміхнеться доля.
          <br />
          Згинуть наші вороженьки, як роса на сонці.
          <br />
          Запануєм і ми, браття, у своїй сторонці.
          <br />

          <div class='mt-2 ms-3'>Душу й тіло ми положим за
            нашу свободу,
            <br />
            І покажем, що ми, браття, козацького роду.
            <br />
          </div>
        </div>

        <div class='my-3'>
          Станем браття, в бій кривавий, від Сяну до Дону
          <br />
          В ріднім краю панувати не дамо нікому.
          <br />
          Чорне море ще всміхнеться, дід Дніпро зрадіє,
          <br />
          Ще на нашій Україні доленька наспіє.
          <br />

          <div class='mt-2 ms-3'>Душу й тіло ми положим за
            нашу свободу,
            <br />
            І покажем, що ми, браття, козацького роду.
            <br />
          </div>
        </div>

        <div>
          А завзяття, праця щира свого ще докаже,
          <br />
          Ще ся волі в Україні піснь гучна розляже.
          <br />
          За Карпати відіб’ється, згомонить степами,
          <br />
          України слава стане поміж народами.
          <br />

          <div class='mt-2 ms-3'>Душу й тіло ми положим за
            нашу свободу,
            <br />
            І покажем, що ми, браття, козацького роду.
            <br />
          </div>
        </div>
      </div>
    </div>

  </section>

  <hr class='my-5' />
  <div class='display-1 text-uppercase'>
    <i
      class='fa-brands fa-html5'
      style='color: #2b00ff;'
    ></i>
    <i
      class='fa-brands fa-css3-alt'
      style='color: #ff5900;'
    ></i>
    CSS Lesson 11 (3 blocks visualisation):
  </div>
  <hr class='my-5' />

  <section>
    <div class='mycard p-5 mt-2 border-1'>
      <div class='dspn'>
        Testing Display none
      </div>
      <div hidden>
        Testing Display
      </div>
      <div>block</div>
      <div>block</div>
      <div>block</div>
      <div>block</div>

      <div class='module'>
        <span>String</span>
        <span class='block persent'>String</span>
        <span class='block'>String as block 250px with
          margin auto</span>
        <span class='inblock'>inline-block</span>
        <span class='block fitcon'>String</span>
        <span class='block micont'>String as block 250px
          with margin auto</span>
        <span>String</span>
        <span class='block macont'>String as block 250px
          with margin auto</span>
        <span>String</span>
        <span>String</span>
      </div>

    </div>
  </section>

</main>