{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class='p-5'>

  <hr class='my-5' />
  <div class='display-1 text-uppercase'>
    <i
      class='fa-brands fa-html5'
      style='color: #2b00ff;'
    ></i>
    <i
      class='fa-brands fa-css3-alt'
      style='color: #ff5900;'
    ></i>
    CSS Lesson 3 (1):
  </div>
  <hr class='my-5' />

  <div class='box'>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <div style='background: blue' class='display-1 p-5'>
      <span>&#127895;
        {{!Платна іконка <i class="fa-duotone fa-ribbon fa-beat"
          style="--fa-primary-color: #ffde38; --fa-secondary-color: #045ffb; --fa-secondary-opacity: 1;"></i> }}
      </span>
      <i
        class='fa-solid fa-ribbon fa-beat-fade display-1'
        style='color: #ffde38;'
      ></i>

    </div>

    <h2 style='color: rgb(61, 150, 1)'>USB хаб Type C 12 в 1
      HDMI VGA AUX 3.5 mm</h2>

    <h3 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>

    <h4>Test sevral tags with one style</h4>

    <h5 id='user'>Test sevral tags with one style</h5>

    <button
      type='button'
      class='btn btn-primary button'
    >Купити</button>

    <p>
      Some text.
      <em>Some em</em>
      text.
    </p>

    <div>
      <div>
        <em>else em</em>
        <div>
          <em>Some more em</em>
        </div>
      </div>
    </div>

    <div>
      <strong>strong</strong>
      <p>paragraph after strong</p>
      <h2>header h2</h2>
      <p> paragraph</p>
      <div>
        <p>before h2 some paragraph </p>
        <h2>one more h2</h2>
        <p> one more paragraph</p>
        <p> next paragrph</p>
      </div>
      <div>
        <strong>some strong</strong>
        <p>before h2 paragraph</p>
        <h2> h2 header</h2>
        <em> some em</em>
        <p>and now paragraph</p>
      </div>
    </div>
    <section>
      <p>останній приклад</p>
    </section>
  </div>

  <hr class='my-5' />
  <div class='display-1 text-uppercase'>
    <i
      class='fa-brands fa-html5'
      style='color: #2b00ff;'
    ></i>
    <i
      class='fa-brands fa-css3-alt'
      style='color: #ff5900;'
    ></i>
    CSS Lesson 4 (2):
  </div>
  <hr class='my-5' />

  <section>
    <div class='card card-dark py-3 mb-4'>
      <ul>
        <li class='item'>item 1</li>
        <li class='item'>item 2</li>
        <li class='item'>item 3</li>
        <li class='item'>item 4</li>
        <li class='item'>item 5</li>
      </ul>
    </div>

    <div class='card card-dark pt-3 mb-4'>
      <ul>
        <li class='item'>item 1</li>
        <li class='item'>item 2</li>
        <li class='item'>item 3</li>
        <li class='item'>item 4</li>
        <li class='item'>item 5</li>
      </ul>
    </div>

    <div class='card card-dark pt-3 mb-4'>
      <ul>
        <li class='item'>item 1</li>
        <li class='item'>item 2</li>
        <li class='item'>item 3</li>
        <li class='item'>item 4</li>
        <li class='item'>item 5</li>
      </ul>
    </div>

    <div>
      <p class='item'>
        Only child. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolore iste officia, minima
        consequatur excepturi, natus laudantium sed qui
        perspiciatis quasi nostrum vel adipisci, veritatis
        deleniti nam necessitatibus modi soluta
        voluptatibus? Molestiae iste dolorum vel, animi,
        blanditiis odio eum cumque amet magnam dignissimos,
        itaque sapiente? Alias accusamus excepturi, illum
        magnam ipsum illo nesciunt ullam. Consequuntur ut
        maiores praesentium facere provident amet?
      </p>
    </div>

    <div class='card card-dark pt-3 mb-4'>

      <div class='item'>item 1</div>
      <p class='item'>item 2</p>
      <article class='item'>item 3</article>
      <div class='item'>item 4</div>
      <p class='item'>item 5</p>
      <strong class='item'>Test strong</strong>
      <article class='item'>item 6</article>

    </div>

    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li class='item'>item 3</li>
      <li></li>
      <li>item 5</li>
    </ul>

    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
      <li>item 4</li>
      <li>item 5</li>
    </ul>

  </section>

  <hr class='my-5' />
  <div class='display-1 text-uppercase'>
    <i
      class='fa-brands fa-html5'
      style='color: #2b00ff;'
    ></i>
    <i
      class='fa-brands fa-css3-alt'
      style='color: #ff5900;'
    ></i>
    CSS Lesson 5 (3):
  </div>
  <hr class='my-5' />

  <section>
    <div class='card card-dark p-3 mt-4'>
      <input class='input-dark' />
      <input class='input-dark' required />
      <input class='input-dark' type='number' />
    </div>

    <div class='card card-dark p-3 mt-4'>

      <img
        src='https://picsum.photos/200/300'
        alt='random picture huge card 200px'
        class='small-img'
        height='200px'
      />

      <img
        src='https://picsum.photos/200/300'
        alt='random picture small card 80px'
        class='small-img my-2'
        height='80px'
      />

      <img
        src='https://picsum.photos/200/300'
        alt='random picture big card 100px'
        class='small-img'
        height='100px'
      />

      <a
        href='https://picsum.photos/200/300'
        rel='external'
        target='_blank'
      >Link</a>

      <button class='btn'>Click me</button>
      <br />
      <button class='btn btn-secondary'>Click me</button>
      <br />
      <a
        href='https://picsum.photos/200/300'
        class='btn btn-secondary'
        target='_blank'
      >Link</a>
      <br />
      <a
        href='https://picsum.photos/200/300'
        class='small btn btn-secondary'
        target='_blank'
      >Link</a>
      <br />
      <a
        href='https://picsum.photos/200/300'
        class='small btn btn-secondary verybig'
        target='_blank'
      >Link</a>
    </div>

    <div class='card card-dark p-3 mt-4'>
      <button class='btn'>Click me</button>
      <br />
      <p class='big-text'>
        Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Quas iure excepturi saepe fugit? Non,
        aspernatur, soluta numquam eveniet id impedit sequi
        aliquid error mollitia iste, possimus provident vel
        perferendis sed. Eius ipsum aspernatur voluptatum
        repellat quam blanditiis at neque maiores delectus
        et, iste, nulla harum qui nisi velit nihil totam.
        Est et autem harum culpa expedita error mollitia
        dolorum placeat? Unde, culpa? Aspernatur accusamus
        inventore ea cumque blanditiis explicabo, doloribus
        magnam laborum ex delectus velit? Enim molestiae
        esse optio hic officia impedit! Repudiandae quasi,
        corporis vitae autem unde consectetur qui?
      </p>

      <input class='input-dark' placeholder='Enter text' />
    </div>

  </section>

  <hr class='my-5' />
  <div class='display-1 text-uppercase'>
    <i
      class='fa-brands fa-html5'
      style='color: #2b00ff;'
    ></i>
    <i
      class='fa-brands fa-css3-alt'
      style='color: #ff5900;'
    ></i>
    CSS Lesson 7 (4):
  </div>
  <hr class='my-5' />

  <section>
    <div class='card card-dark p-3 mt-4'>
      <a
        href='#test'
        class='lesson7 btn btn-warning btn-sm'
      >Click me</a>
    </div>

    <div id='test' class='card card-dark p-3 mt-4'>
      Якір:target
    </div>

    <div class='card card-dark p-3 mt-4'>
      <a
        href='https://experiments.withgoogle.com/collection/chrome'
        class='link'
      >cюди ще не заходили :link,
        <span>:hover</span>,
        <span>:active</span></a>
    </div>

    <div class='card card-dark p-3 mt-4'>
      <a href='https://google.com.ua' class='visited'>Тут
        вже були колись :visited</a>
    </div>

    <div class='card card-dark p-3 mt-4'>
      <input
        class='form-item'
        type='text'
        placeholder='Some text placeholder. input:focus'
      />
    </div>

    <div lang='fr' class='card card-dark p-3 mt-4'>
      FR
    </div>

    <div lang='en' class='card card-dark p-3 mt-4'>
      EN
    </div>

    <div class='card-dark p-3 mt-4'>
      <button>Any not disabled</button>
      <button class='default'>button default</button>
      <button disabled>button disabled in tag</button>
      <button>button :enabled selector</button>
    </div>

    <div class='card-dark p-3 mt-4'>
      <input
        type='text'
        class='inp mt-1'
        placeholder='Active field'
      />
      <input
        type='text'
        class='inp mt-1'
        readonly
        placeholder='readonly'
      />
      <input
        type='text'
        class='inp mt-1'
        placeholder='You can write here'
      />
      <input
        type='text'
        class='inp mt-1'
        disabled
        placeholder='disabled'
      />

      <div class='mt-3'>
        <input type='checkbox' />
        <span>First</span>
        <input type='checkbox' />
        <span>Second</span>
        <input type='checkbox' />
        <span>Third</span>
        <input type='checkbox' />
        <span>Fourth</span>
      </div>
    </div>

    <div class='card-dark p-3 mt-4'>
      <input
        class='valid mt-1'
        type='email'
        placeholder='Enter email for valid'
        required
      />
      <input
        class='valid mt-1'
        type='email'
        placeholder='Email not required- no validation'
      />
      <input
        class='number mt-1'
        type='number'
        min='10'
        max='20'
        placeholder='10-20'
      />
      <br />
      <input
        class='valid mt-1'
        type='text'
        placeholder='Є плейсхолдер'
      />
      <span>&#8701; Якщо є плейсхолдер, тоді зелений</span>
      <input class='valid mt-1' type='text' />
      <span>&#8701; Увага! Нема плейсхолдера!</span>
    </div>

  </section>

</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}