.hex {
  color: #002547;
}

.rgb {
  color: rgb(240, 155, 45);
}

.rgba {
  color: rgba(240, 155, 45, 0.5);
}

.hsl {
  color: hsl(120, 100%, 40%);
}

.hsla {
  color: hsla(120, 100%, 40%, 0.5);
}

.textfill {
  color: green;
  font-size: larger;
  font-weight: 700;
  -webkit-text-fill-color: rgb(240, 217, 16);
  -webkit-text-stroke: 1px blue;
}

.textfill:hover {
  -webkit-text-fill-color: red;
  direction: rtl;
}

/* initial - за замовчуванням
inherit - спадок від батьківського
unset - спадок від батьківського, а коли неможливо, то за замовчуванням
none - все скасувати та встановити за замовчуванням */

.wmh {
  writing-mode: horizontal-tb;
}

.vrl {
  writing-mode: vertical-rl;
}

.vlr {
  writing-mode: vertical-lr;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.tas {
  text-align: start;
}

.tae {
  text-align: end;
}

.taj {
  text-align: justify;
}

.ttu {
  text-transform: uppercase;
}

.ttl {
  text-transform: lowercase;
}

.ttc {
  text-transform: capitalize;
}

.tabs {
  tab-size: 3;
  margin: 0;
  letter-spacing: 1px;
}

.tdu {
  text-decoration: underline;
}

.tdo {
  text-decoration: overline;
}

.tdlt {
  text-decoration: line-through;
}

.tdusg {
  text-decoration: underline solid rgb(17, 255, 17);
}

.tdud {
  text-decoration: underline double red;
}

.tdod {
  text-decoration: overline dotted blue;
}

.tdoda {
  text-decoration: overline dashed orange;
}

.tduw {
  text-decoration: underline wavy yellowgreen;
}

.tdltc {
  text-decoration-line: overline;
  text-decoration-style: double;
  text-decoration-color: burlywood;
}

.ninelesson {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-display: swap;
}

.ninep span.xxs {
  font-size: xx-small;
}

.ninep span.xs {
  font-size: x-small;
}

.ninep span.sml {
  font-size: smaller;
}

.ninep span.sm {
  font-size: small;
}

.ninep span.med {
  font-size: medium;
}

.ninep span.lg {
  font-size: large;
}

.ninep span.lge {
  font-size: larger;
}

.ninep span.xl {
  font-size: x-large;
}

.ninep span.xxl {
  font-size: xx-large;
}

.ninew span.fwlr {
  font-weight: lighter;
}

.ninew span.reg {
  font-weight: normal;
}

.ninew span.fwbr {
  font-weight: bolder;
}

.ninew span.fwb {
  font-weight: bold;
}

.ffs {
  font-family: serif;
}

.ffss {
  font-family: sans-serif;
}

.ffm {
  font-family: monospace;
}

.ffc {
  font-family: cursive;
}

.fff {
  font-family: fantasy;
}

.fsn {
  font-style: normal;
}

.fsi {
  font-style: italic;
}

.fso {
  font-style: oblique;
}

.nineload span {
  font-weight: bold;
}

.nineload div {
  margin: 15px 0 15px 0;
}

.ninefontfamily {
  font-family: 'Comforter', cursive;
  /* letter-spacing: 0.1em; */
  font-weight: 550;
  font-size: x-large;
}

/* lesson 11 (3) */
.mycard {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
}

.module {
  background: gray;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px 0;
}

.dspn {
  /* same hidden */
  display: none;
}

.block {
  display: block;
  width: 250px;
  margin: auto;
  background: rgb(199, 199, 199);
}

.persent {
  margin: 3%;
}

.inblock {
  display: inline-block;
  padding-right: 50px;
  background: yellow;
}

.fitcon {
  width: fit-content;
  margin-left: 100px;
}

.micont {
  width: min-content;
}

.macont {
  width: max-content;
}
