<div>
  <h1 class='hero_title'>{{title}}</h1>
  <p class='hero_text'>{{text}}
    <span class='overflow'>
      LongLongWordLongLongWordLongLongWordLongLongWord&#173;LongLongWord
    </span>
  </p>
</div>