{{#with data}}
  <div class='post'>
    <h3 class='post_title post_item'>
      {{title}}
    </h3>
    <div class='post_item'>
      <span class='post_date'>
        {{date}}
        by
      </span>
      <span class='post_author'>
        {{author}}
      </span>
    </div>
    <p class='post_description post_item'>
      {{description}}
    </p>
    <a href='#' class='post_link post_item'>Continue reading</a>
  </div>
{{/with}}